* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  overflow: hidden; /*recognize the height of any floated elements it contains*/
  background-color: #EAEDF0; /* Light Grey */
}

.page {
  width: 900px;
  margin: 0 auto;
}

.menu {
  height: 100px;
  background-color: #B2D6FF;  /* Medium blue */
}

.sidebar {
  width: 200px;
  height: 300px;
  float: left;
  background-color: #F09A9D;  /* Red */
}

.content {
  width: 650px;
  height: 500px;
  float: left;
  background-color: #F5CF8E;  /* Yellow */
  padding: 20px;
}

.article-image {
  float: left;
  width: 300px;
  height: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

.footer {
  overflow: hidden;/*height: 200px;*/
  background-color: #D6E9FE;  /* Light blue */
  clear: both; /* clearing a float force a box back into the default vvertical flow of the page*/
}

.footer-item {
  float: left;
  width: 31%;
  margin: 20px 1.15%;
  height: 160px;
  background-color: #B2D6FF;    /* Medium blue */
}

.avatar {
  float: left;
  width: 60px;
  height: 60px;
  margin: 25px;
  border-radius: 40px;
  background-color: #D6E9FE;
}

.username {
  margin-top: 30px;
}

.comment {
  margin: 10px;
  overflow: hidden;
}
